
/*General Starts*/

body {
	font-family: "Ubuntu", "Segoe UI", "Roboto", "Cantarell", "Droid Sans", sans-serif;
	margin: 0px;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}
footer {
	width: 100%;
	background-color: #414141;
	display: block;
	position: relative;
	box-sizing: border-box;
}

/*General Ends*/

/*Header - Navbar*/

#hlogo {
	max-height:50px;
}

#hart {
	display: flex;
	width: 100%;
	height: 22rem;
}
#navbar {
	margin-top: -21rem;
}
#menubar {
	display: flex;
	margin-left: auto;
}

/*-----------------*/


/*Clases*/
.flex {
	display: flex;
}
.margin-auto {
	margin: auto;
}
.margin-autol {
	margin-left: auto;
}
.margin-autor {
	margin-right: auto;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.bold-text {
	font-weight: bold;
}
.light-text {
	font-weight: lighter;
}
.item-centro {
	justify-content: center;
}
.texto-centro {
	text-align: center;
}
.texto-blanco {
	color: white;
}
.texto-celeste:hover {
	color:#CEE2FF;
}
.space-item {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.space-itemtb {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.texto-negro-mouse:hover {
	color: #696969;
}
.active {
	color: #696969;
}
.btn {
	cursor: pointer;
}
.btn-blanco {
	color: #696969;
	background-color: white;
	border: 10px;
	border-color: white;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-blanco-borde {
	color: white;
	border: 10px;
	background-color: #a0c2f7;
	border-color: #a0c2f7;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-blanco-borde:hover {
	color: white;
	background-color: #76aafb;
	border-color: #76aafb;
	border: 10px;
	border-radius: 5px;
	border-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}
.container {
	max-width: 1200px;
	padding-right: 70px;
	padding-left: 70px;
	align-items: center;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}
.bloque {
	max-width: 500px;
	max-height: 100px;
}
/*--------------------------*/

/*Id's - Clases Individuales*/

	/*Cabecera - Inicio*/
	#informacion {
		margin-top: 4rem;
		margin-left: auto;
		margin-bottom: 5rem;
	}
	#texto-izquierda{
		max-width: 600px;
	}
	#tih6 {
		margin: 0px;
		font-size: 20px;
	}
	#tih2 {
		margin: 0px;
		font-size: 60px;
	}
	#tip {
		font-size: 21px;
	}
	#imagen-derecha {
		max-width: 400px;
	}
	#lapc {
		width: 350px;
	}
	/*-----------------*/

	/*Bloques Informacion*/
	#oferta {
		margin-top: 8rem;
		color: #414141
	}
		/*Bloques Izquierda*/
		.binf{
			background-color: #80b3ff;
			border-radius: 5px;
			border: 10px;
			align-items: center;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		.binf2{
			background-color: #c8deff;
			border-radius: 5px;
			border: 10px;
			align-items: center;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
			#bipr {
				background: linear-gradient(150deg, #CEE2FF 0%, #70acff 100%);
			}
			#col1{
				width: 23rem;
			}
			#col2{
				margin-right: auto;
				margin-left: 1rem;
				width: 23rem;
			}
		.item-fila {
			margin-bottom: 2rem;
			height: 
		}
		.binf-ico {
		display: flex;
		width: 2.2rem;
		margin-left: 2rem;
		}
		.binf-txt {
			margin-left: 2rem;
			margin-right: 1rem;
			display: flex;
		}
/*-----------------------------------------*/

.fmg {
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.ftxt {
	padding-bottom: 0.5rem;
}
.finp {
	width: 16rem;
	height: 1.5rem;
	border: white;
	border-radius: 0.3rem;
}

/*-----------------------------------------*/

.footpagei {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.fp-text{
	display: flex;
}
	#fila1,#fila2{
		width: 15rem;	
		margin-bottom: auto;
	}
	#fila2{
		margin-left: 1rem; 
	}
	.colfp{
		margin-top: auto;
		margin-left: auto;
		text-align: end;
	}