body {
	font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0px;
}

ul {
	list-style: none;
}

#hlogo {
	max-height:50px;
}

#hart {
	display: flex;
	width: 100%;
}
#navbar {
	margin-top: -45%;
}
#menubar {
	display: flex;
	margin-left: auto;
}
.menu-item {
	padding-left: 1rem;
	padding-right: 1rem;
}

a {
	color: white;
	text-decoration: none;

}
a:hover {
	color: #000000A3;
}


.container {
	max-width: 1200px;
	padding-right: 70px;
	padding-left: 70px;
	align-items: center;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}