
/*General Starts*/

body {
	font-family: "Ubuntu", "Segoe UI", "Roboto", "Cantarell", "Droid Sans", sans-serif;
	margin: 0px;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}

/*General Ends*/

/*Header - Navbar*/

#hlogo {
	max-height:50px;
}

#hart {
	display: flex;
	width: 100%;
	height: 30rem;
}
#navbar {
	margin-top: -29rem;
}
#menubar {
	display: flex;
	margin-left: auto;
}

/*-----------------*/


/*Clases*/

.texto-blanco {
	color: white;
}
.space-item {
	padding-left: 1rem;
	padding-right: 1rem;
}
.texto-negro-mouse:hover {
	color: #696969;
}
.active {
	color: #696969;
}
.btn {
	cursor: pointer;
}
.btn-blanco {
	color: #696969;
	background-color: white;
	border: 10px;
	border-color: white;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-blanco-borde {
	color: white;
	border: 10px;
	border-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-blanco-borde:hover {
	color: #696969;
	background-color: white;
	border: 10px;
	border-radius: 5px;
	border-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}
.container {
	max-width: 1200px;
	padding-right: 70px;
	padding-left: 70px;
	align-items: center;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}
.bloque {
	max-width: 500px;
	max-height: 100px;
}
/*--------------------------*/

/*Id's - Clases Individuales*/

	/*Cabecera - Inicio*/
	#informacion {
		margin-top: 4rem;
	}
	#texto-izquierda{
		max-width: 600px;
	}
	#tih6 {
		margin: 0px;
		font-size: 20px;
	}
	#tih2 {
		margin: 0px;
		font-size: 60px;
	}
	#tip {
		font-size: 21px;
	}
	#imagen-derecha {
		max-width: 400px;
	}
	#lapc {
		width: 350px;
	}
	/*-----------------*/

	/*Bloques Informacion*/
	#oferta {
		margin-top: 8rem;
		color: #414141
	}
		/*Bloques Izquierda*/
		.bizq{
			display: flex;
			background-color: #f2f2f2b0;
			border-radius: 5px;
			border: 10px;
			align-items: center;
			height: 4.5rem;
		}
			#bipr {
				background: linear-gradient(150deg, #CEE2FF 0%, #70acff 100%);
			}
			#fila1,#fila2,#fila3 {
				margin-right: auto;
				margin-left: auto;
				width: 23rem;
			}
		.bizq-ico {
		display: flex;
		width: 2.2rem;
		margin-left: 2rem;
		}
		.bizq-txt {
			margin-left: 2rem;
			margin-right: 1rem;
			display: flex;
		}